// Fonts

// Z Index
$zLayout: default;

// Sizes
$gridSize: 0.8rem;
$gutterSize: $gridSize * 4;

// Colors
$colorPrimary: #000;
$colorSecondary: #fff;
$colorHighlight: #663399;

// Paths
$pathComponentImage: 'asset/image';
